.content{
    padding-top: 10px;
}

.row{
   display:flex;
    gap: 10px;

    mat-form-field{
        width: 100%;
    }
}

.action{
    padding: 0px 25px 20px;
    button{
        display: flex;
    justify-content: space-between;
    margin-top: 16px;;
    }
        
}
.mat-dialog-actions{
    padding-left: 50px !important;
    padding-right: 50px;
}